Repository frappe/hrms, pull requests merged in 2023-11, with the labels that each got.

#960 feat(Payroll): Add employee grade filter in payroll entry
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
  hrms/payroll/doctype/payroll_entry/payroll_entry.json
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: needs-tests

#988 feat: Add sender in Payroll Settings & HR Settings
  hrms/controllers/employee_reminders.py
  hrms/hr/doctype/hr_settings/hr_settings.js
  hrms/hr/doctype/hr_settings/hr_settings.json
  hrms/payroll/doctype/payroll_settings/payroll_settings.js
  hrms/payroll/doctype/payroll_settings/payroll_settings.json
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1021 chore: Added default permission for HR Manager to submit F&F Statement
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.json
Labels: squash

#1026 fix: show only active employees
  hrms/hr/page/organizational_chart/organizational_chart.py
Labels: needs-tests

#1069 refactor: permissions not applied in Income Tax Deductions report
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/payroll/report/income_tax_deductions/income_tax_deductions.json
  hrms/payroll/report/income_tax_deductions/income_tax_deductions.py
  hrms/payroll/report/income_tax_deductions/test_income_tax_deductions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1077 perf: faster Employee Leave Balance report
  hrms/hr/doctype/leave_allocation/leave_allocation.py
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_ledger_entry/leave_ledger_entry.json
  hrms/hr/doctype/leave_ledger_entry/leave_ledger_entry.py
  hrms/hr/report/employee_leave_balance/employee_leave_balance.json
  hrms/hr/report/employee_leave_balance/employee_leave_balance.py
  hrms/hr/report/employee_leave_balance_summary/employee_leave_balance_summary.py
Labels: backport version-14-hotfix, backport version-13-hotfix, backport version-15-hotfix

#1103 fix: Employee Dashboard must accomodate Document Links
  hrms/overrides/dashboard_overrides.py
Labels: needs-tests
