Repository frappe/hrms, pull requests merged in 2023-07, with the labels that each got.

#673 fix(Salary Slip): handle line boundaries characters in formulae
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/utils.py
Labels: needs-tests

#612 refactor: Do not consider payroll frequency in timesheet based payroll
  hrms/patches.txt
  hrms/patches/v14_0/update_payroll_frequency_to_none_if_salary_slip_is_based_on_timesheet.py
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
  hrms/payroll/doctype/payroll_entry/payroll_entry.json
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/salary_slip/salary_slip.json
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_structure/salary_structure.js
  hrms/payroll/doctype/salary_structure/salary_structure.json
  hrms/public/js/utils.js
Labels: needs-tests

#693 chore: drop setup.py and requirements.txt
  requirements.txt
  setup.py
Labels: squash

#688 fix: don't send interview feedback reminder for upcoming interviews
  hrms/hr/doctype/interview/interview.py
  hrms/hr/doctype/interview/test_interview.py
Labels: squash, add-test-cases

#621 fix: allow checkin at the same time as last checkout
  hrms/hr/doctype/employee_checkin/employee_checkin.py
Labels: needs-tests
