Repository frappe/hrms, pull requests merged in 2023-05, with the labels that each got.

#456 fix: employee & grade filters not considered while allocating leaves via Leave Control Panel
  hrms/hr/doctype/leave_control_panel/leave_control_panel.py
Labels: squash

#492 fix: do not consider zero valued rows for accounting
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: needs-tests

#417 perf: faster Payroll :- Part 1 (Payroll Enty)
  hrms/payroll/doctype/employee_benefit_application/test_employee_benefit_application.py
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_structure/salary_structure.json
Labels: do not backport

#513 chore: set payroll period if not exists
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#523 chore: set payroll period if not exists
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: add-test-cases

#536 fix: handle remove_if_zero_valued property while updating salary slip via data import
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#529 fix: incorrect pro-rated earned leave calculation for passed months
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
  hrms/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  hrms/hr/utils.py
Labels: backport version-14-hotfix

#534 fix: change field-type to remove currency field from total row in export
  hrms/payroll/report/salary_register/salary_register.py
Labels: needs-tests

#542 fix: return amount as flt if eval_conditions_and_formula returns None
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests
