Repository frappe/hrms, pull requests merged in 2023-10, with the labels that each got.

#930 test: remove assertion for amount in consider marked attendance on holidays test
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-14-hotfix

#936 fix: error while selecting an employee when `salary_slip_based_on_timesheet` is unchecked
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: add-test-cases

#925 fix(payroll): incorrect absent days if relieving date is set for a latter month + refactor
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#817 feat: Leave Encashment Enhancements
  hrms/hr/doctype/leave_encashment/leave_encashment.js
  hrms/hr/doctype/leave_encashment/leave_encashment.json
  hrms/hr/doctype/leave_encashment/leave_encashment.py
  hrms/hr/doctype/leave_encashment/test_leave_encashment.py
  hrms/hr/doctype/leave_type/leave_type.json
  hrms/hr/doctype/leave_type/test_leave_type.py
  hrms/hr/doctype/leave_type/test_records.json
  hrms/patches.txt
  hrms/patches/v15_0/rename_and_update_leave_encashment_fields.py
  hrms/payroll/doctype/salary_structure/salary_structure.json
Labels: new in v15

#1005 feat: Add Select/Unselect All options in Mark Attendance Dialog
  hrms/hr/doctype/attendance/attendance_list.js
Labels: squash, backport version-14-hotfix, backport version-15-hotfix
