Repository frappe/hrms, pull requests merged in 2023-12, with the labels that each got.

#1138 fix: PWA fixes
  frontend/src/components/FormView.vue
  frontend/src/components/ListView.vue
  frontend/src/views/salary_slip/Detail.vue
  hrms/api/__init__.py
Labels: needs-tests

#1100 feat: option to enable/disable multiple Shift Assignments for same dates
  hrms/hr/doctype/hr_settings/hr_settings.json
  hrms/hr/doctype/shift_assignment/shift_assignment.py
  hrms/hr/doctype/shift_assignment/test_shift_assignment.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1157 chore: disable Same Date Multiple Shift Assignments by default
  hrms/hr/doctype/hr_settings/hr_settings.json
Labels: backport version-15-hotfix

#1113 feat: add Amount Based on Formula to list view & fix UX
  hrms/payroll/doctype/salary_detail/salary_detail.json
  hrms/payroll/doctype/salary_structure/salary_structure.js
  hrms/payroll/doctype/salary_structure/salary_structure.json
  hrms/payroll/doctype/salary_structure/salary_structure.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1148 fix(Leave Application): Resolved leave type missing for accurate payroll processing
  hrms/hr/doctype/leave_application/leave_application.py
Labels: needs-tests

#1185 fix: journals as invoice throwing validation error
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests

#1192 Revert "fix: journals as invoice throwing validation error"
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests

#1147 fix: Half Day Leave Application Link To Half Day Attendance
  hrms/hr/doctype/attendance/attendance.py
Labels: needs-tests

#1217 fix: Duplicate Overwritten Salary error for other employee
  hrms/payroll/doctype/additional_salary/additional_salary.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1220 fix(Org Chart): check if company is set before loading children
  hrms/public/js/hierarchy_chart/hierarchy_chart_desktop.js
  hrms/public/js/hierarchy_chart/hierarchy_chart_mobile.js
Labels: backport version-14-hotfix, backport version-15-hotfix
