Repository frappe/hrms, pull requests merged in 2023-03, with the labels that each got.

#360 fix: consider employees relieving date while calculating future additional salary
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#374 fix: Check employee status for validating salary slip with relieving date lesser than start date
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: squash

#372 fix: Consider relieving date while calculating lwp
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-14-hotfix

#381 fix: exclude carry forwarded leaves while updating leaves after submission
  hrms/hr/doctype/leave_allocation/leave_allocation.py
  hrms/hr/doctype/leave_allocation/test_leave_allocation.py
  hrms/hr/doctype/leave_application/test_leave_application.py
  hrms/hr/doctype/leave_type/test_leave_type.py
  hrms/hr/report/employee_leave_balance/test_employee_leave_balance.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-14-hotfix

#394 fix: get income tax slab only if tax compoents are applicable
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: needs-tests

#399 fix: don't allow manual updates for earned leave allocation after submission
  hrms/hr/doctype/leave_allocation/leave_allocation.js
  hrms/hr/doctype/leave_allocation/leave_allocation.py
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
Labels: backport version-14-hotfix

#421 fix: column generation for report salary register
  hrms/payroll/report/salary_register/salary_register.py
Labels: needs-tests
