Repository frappe/hrms, pull requests merged in 2023-06, with the labels that each got.

#590 fix: share submit permission self
  hrms/hr/utils.py
Labels: squash

#618 fix: Removed Retail workspace in erpnext
  hrms/subscription_utils.py
Labels: needs-tests

#619 fix: employee link fields in payroll reports
  hrms/payroll/report/professional_tax_deductions/professional_tax_deductions.py
  hrms/payroll/report/provident_fund_deductions/provident_fund_deductions.py
Labels: backport version-14-hotfix, backport version-13-hotfix
