Repository frappe/hrms, pull requests merged in 2023-09, with the labels that each got.

#839 fix(PWA): misc fixes
  frontend/src/components/MenuLinks.vue
  frontend/src/views/Home.vue
  hrms/api/__init__.py
Labels: needs-tests

#851 fix: update repay_from_salary and payroll_payable_account fields
  hrms/patches.txt
  hrms/patches/v14_0/update_repay_from_salary_and_payroll_payable_account_fields.py
  hrms/setup.py
Labels: needs-tests, backport version-14-hotfix

#857 fix: Employee-wise loan repayment processing
  hrms/patches.txt
  hrms/patches/v14_0/create_custom_field_in_loan.py
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/setup.py
Labels: add-test-cases

#888 fix: fetch logic for repay_from_salary in loan_repayment [v14]
  hrms/patches.txt
  hrms/patches/v14_0/update_loan_repayment_repay_from_salary.py
  hrms/setup.py
Labels: add-test-cases

#890 fix: fetch logic for repay_from_salary in loan_repayment [dev]
  hrms/patches.txt
  hrms/patches/v14_0/update_loan_repayment_repay_from_salary.py
  hrms/setup.py
Labels: needs-tests

#911 fix: required_apps
  hrms/hooks.py
Labels: add-test-cases

#926 fix(payroll): incorrect absent days if relieving date is set for a latter month
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: add-test-cases
