Repository frappe/hrms, pull requests merged in 2023-02, with the labels that each got.

#294 fix(patch): explicitly only check major version for compatibility
  hrms/patches/v15_0/check_version_compatibility_with_frappe.py
Labels: add-test-cases

#292 fix: handle when deductions are absent in salary slip
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: add-test-cases, squash

#305 ci(Mergify): configuration update
  .mergify.yml
Labels: backport version-14-hotfix

#295 fix: don't allow Job Applicant creation against Closed Job Opening
  hrms/hr/doctype/job_applicant/job_applicant.py
  hrms/hr/doctype/job_opening/job_opening.js
Labels: add-test-cases, squash

#336 fix: handle missing deductions while making back entry
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: backport version-14-hotfix

#338 chore: version 14 release
  hrms/__init__.py
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_application/test_leave_application.py
  hrms/hr/doctype/shift_assignment/shift_assignment.py
  hrms/hr/doctype/shift_assignment/shift_assignment_calendar.js
  hrms/hr/report/employee_leave_balance/employee_leave_balance.js
  hrms/hr/report/employee_leave_balance/employee_leave_balance.py
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: add-test-cases

#327 feat: provision to disable recurring additional salary
  hrms/payroll/doctype/additional_salary/additional_salary.json
  hrms/payroll/doctype/additional_salary/additional_salary.py
  hrms/payroll/doctype/additional_salary/test_additional_salary.py
  hrms/payroll/doctype/retention_bonus/retention_bonus.py
  hrms/payroll/doctype/salary_slip/salary_slip.json
Labels: needs-docs

#351 fix: Department Approver validation message translation
  hrms/hr/doctype/department_approver/department_approver.py
Labels: backport version-14-hotfix

#347 fix: consider tax exemption amount while calculating CTC
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests
