Repository frappe/hrms, pull requests merged in 2023-08, with the labels that each got.

#762 feat(Attendance Request): add 'Shift' field
  hrms/hr/doctype/attendance_request/attendance_request.json
  hrms/hr/doctype/attendance_request/attendance_request.py
Labels: needs-tests

#769 fix(Bank Reco Tool): migrate `amount_condition` to `exact_match`
  hrms/hr/utils.py
Labels: needs-tests

#740 fix: Update work Anniversary Reminder email
  hrms/controllers/employee_reminders.py
Labels: needs-tests

#803 fix(Shift Type): rename `enable_(entry/exit)_grace_period` to `enable_(late_entry/early_exit)_marking`
  hrms/hr/doctype/shift_type/shift_type.json
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
  hrms/patches.txt
  hrms/patches/v15_0/rename_enable_late_entry_early_exit_grace_period.py
Labels: squash, do not backport

#814 fix: allow optional tax component addition & removal
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#797 fix(FnF): don't fetch outstanding statements on every save
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.py
Labels: needs-tests, squash

#822 feat(PWA): view & download Salary Slips
  frontend/src/components/ExpenseTaxesTable.vue
  frontend/src/components/ExpensesTable.vue
  frontend/src/components/FormField.vue
  frontend/src/components/FormView.vue
  frontend/src/components/MenuLinks.vue
  frontend/src/components/SalaryDetailTable.vue
  frontend/src/components/SalarySlipItem.vue
  frontend/src/components/icons/SalaryIcon.vue
  frontend/src/main.css
  frontend/src/router/index.js
  frontend/src/router/salary_slips.js
  frontend/src/utils/formatters.js
  frontend/src/views/Home.vue
  frontend/src/views/expense_claim/Dashboard.vue
  frontend/src/views/salary_slip/Dashboard.vue
  frontend/src/views/salary_slip/Detail.vue
  hrms/api/__init__.py
  hrms/hr/doctype/employee_advance/employee_advance.py
  hrms/hr/doctype/expense_claim/expense_claim.json
  hrms/payroll/doctype/salary_slip/salary_slip.json
Labels: needs-tests

#826 fix: Create Salary Slips button not visible on failure
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: add-test-cases
