Repository frappe/hrms, pull requests merged in 2024-09, with the labels that each got.

#2147 fix(Payroll): multiline condition & formula eval failing on salary slip creation from payroll entry
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-15-hotfix

#2150 chore: fix payroll tests
  hrms/payroll/doctype/salary_component/test_salary_component.py
  hrms/payroll/doctype/salary_structure/test_salary_structure.py
Labels: backport version-15-hotfix

#2152 fix(Payroll): skip dependent component update if no formula is set
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-15-hotfix

#2154 fix(Payroll): calculate loan repayment amount based on payroll end date instead of posting date
  hrms/payroll/doctype/salary_slip/salary_slip_loan_utils.py
Labels: backport version-15-hotfix

#2157 fix(Employee Checkin): set the form as dirty on fetching geolocation
  hrms/hr/doctype/employee_checkin/employee_checkin.js
Labels: backport version-15-hotfix

#2161 revert: fix(Salary Structure Assignment: Preview Salary Slip): Calculation of earnings whose formula is dependent on deductions and so on
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-15-hotfix

#2197 fix(Income Tax Computation): consideration of new employees without preexisting salary slips
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: needs-tests

#2219 fix: don't access db unnecessarily
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests, backport version-15-hotfix

#2224 fix: Accomodate `common_filters=None` in Bank Reco API
  hrms/hr/utils.py
Labels: needs-tests, backport version-15-hotfix

#1950 feat(Earned Leave): allocate leaves manually
  hrms/hr/doctype/leave_allocation/leave_allocation.js
  hrms/hr/doctype/leave_allocation/leave_allocation.py
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
  hrms/hr/utils.py
Labels: needs-tests

#2238 feat: show In and Out Time in Attendance even if there is only one log
  hrms/hr/doctype/employee_checkin/employee_checkin.py
Labels: backport version-14-hotfix, backport version-15-hotfix
