Repository frappe/hrms, pull requests merged in 2024-01, with the labels that each got.

#1247 fix: 'NoneType' Iteration Error in Salary Slip Loan Processing
  hrms/payroll/doctype/salary_slip/salary_slip_loan_utils.py
Labels: squash

#1294 fix(Salary Slip): data evaluation (backport #1283)
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: add-test-cases

#1297 fix: incorrect calculation for expiring carry forwarded leaves in leave ledger entry scheduled job
  hrms/hr/doctype/leave_allocation/test_leave_allocation.py
  hrms/hr/doctype/leave_ledger_entry/leave_ledger_entry.py
  hrms/hr/doctype/leave_type/test_leave_type.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1335 fix(Expense Claim): Pass company to properly pick currency for each record
  hrms/hr/doctype/expense_claim/expense_claim_list.js
Labels: frappe-support

#1340 fix(Employee Advance): respect precision for return & paid amount
  hrms/hr/doctype/employee_advance/employee_advance.py
  hrms/hr/doctype/employee_advance/test_employee_advance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1351 fix: typos
  frontend/src/components/FormView.vue
  hrms/hr/doctype/compensatory_leave_request/compensatory_leave_request.py
  hrms/hr/doctype/exit_interview/exit_interview.py
  hrms/payroll/doctype/employee_benefit_application/employee_benefit_application.py
Labels: needs-tests

#1350 feat(Payroll): Option to use Email Template when send Salary Slip email
  hrms/hr/doctype/interview/test_interview.py
  hrms/payroll/doctype/payroll_settings/payroll_settings.json
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/tests/test_utils.py
Labels: backport version-15-hotfix

#1040 feat(Attendance Request): add 'Include Holidays' checkbox
  hrms/hr/doctype/attendance_request/attendance_request.json
  hrms/hr/doctype/attendance_request/attendance_request.py
  hrms/hr/doctype/attendance_request/test_attendance_request.py
Labels: squash, backport version-15-hotfix

#1338 fix: get income tax slabs by getting ss_assignment based on from_date
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/payroll/doctype/salary_structure/test_salary_structure.py
Labels: squash
