Repository frappe/hrms, pull requests merged in 2024-03, with the labels that each got.

#1494 test: fix `test_consider_marked_attendance_on_holidays_with_unmarked_attendance`
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/tests/test_utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1500 fix: german translations for "leave"
  hrms/translations/de.csv
Labels: backport version-14-hotfix

#1504 fix: company fixture setup error handling & flags
  hrms/overrides/company.py
  hrms/regional/india/setup.py
  hrms/regional/united_arab_emirates/setup.py
  hrms/setup.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1510 refactor: additional parameter in get_matching_queries
  hrms/hr/utils.py
Labels: needs-tests

#1520 refactor(UX): show leave application links in leave allocation cancellation message
  hrms/hr/doctype/leave_ledger_entry/leave_ledger_entry.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#1521 fix: Payroll Entry employee_query Error
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: add-test-cases

#1477 fix(Shift Assignment): calendar view date filter
  hrms/hr/doctype/shift_assignment/shift_assignment.py
  hrms/hr/doctype/shift_assignment/test_shift_assignment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1424 fix(Leave Application): calendar view
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_block_list/leave_block_list.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#1541 feat(Gratuity): allow setting work experience manually
  hrms/payroll/doctype/gratuity/gratuity.js
  hrms/payroll/doctype/gratuity/gratuity.json
  hrms/payroll/doctype/gratuity/gratuity.py
  hrms/payroll/doctype/gratuity_rule/gratuity_rule.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#1548 fix(build): use --check-files to validate cached files
  package.json
Labels: backport version-15-hotfix

#1492 refactor: allow payment entry as a valid reference
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests

#1553 fix: don't update exchange rate for all references
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests

#1555 fix(Employee Advance): zero exchange rate
  hrms/hr/doctype/employee_advance/employee_advance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1598 chore: copy crowdin config from frappe
  crowdin.yml
Labels: translation

#1561 feat(Job Portal): add Publish Applications Received toggle
  hrms/hr/doctype/job_opening/job_opening.json
  hrms/templates/generators/job_opening.html
  hrms/www/jobs/index.html
  hrms/www/jobs/index.py
Labels: backport version-15-hotfix

#1600 feat(Payroll): allow overwriting tax component through additional salary
  hrms/payroll/doctype/additional_salary/additional_salary.py
  hrms/payroll/doctype/additional_salary/test_additional_salary.py
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: defer backport

#1604 fix(PWA): csrf token error
  hrms/www/hrms.py
Labels: backport version-15-hotfix
