Repository frappe/hrms, pull requests merged in 2024-05, with the labels that each got.

#1712 fix(Employee Attendance Tool): 'On Leave' status showing as undefined in marked attendance summary
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.js
Labels: squash

#1706 fix: autofill skills on entering designation in Interview Round
  hrms/hr/doctype/interview_round/interview_round.js
  hrms/hr/doctype/interview_round/interview_round.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#1761 fix: update project URLs in pyproject
  pyproject.toml
Labels: backport version-15-hotfix

#1769 fix(patch): set/update user type limit while updating lending perm config
  hrms/patches.txt
  hrms/patches/v15_0/add_loan_docperms_to_ess.py
  hrms/setup.py
Labels: backport version-15-hotfix

#1766 fix(Payroll): handle empty condition/formula updates from salary components
  hrms/payroll/doctype/salary_component/salary_component.js
Labels: squash, backport version-15-hotfix

#1774 feat(minor): allow using `rounded` function in salary slip formulae
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1765 fix: validation of overlapping shift dates
  hrms/hr/doctype/shift_assignment/shift_assignment.py
  hrms/hr/doctype/shift_assignment/test_shift_assignment.py
  hrms/hr/doctype/shift_request/shift_request.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1784 fix: added missing args
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests

#1802 fix(Expense Claim): update of Outstanding Amount on Payment Entry submission
  hrms/hr/doctype/expense_claim/expense_claim.py
  hrms/hr/doctype/expense_claim/test_expense_claim.py
Labels: needs-tests

#1806 fix: consider payment days = total working days in the last salary slip while calculating Gratuity
  hrms/payroll/doctype/gratuity/gratuity.py
  hrms/payroll/doctype/gratuity/test_gratuity.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1642 feat(Desk + PWA): Geolocation in Employee Checkin
  frontend/src/components/CheckInPanel.vue
  frontend/src/data/HRSettings.js
  frontend/src/data/settings.js
  hrms/api/__init__.py
  hrms/hr/doctype/employee_checkin/employee_checkin.js
  hrms/hr/doctype/employee_checkin/employee_checkin.json
  hrms/hr/doctype/employee_checkin/employee_checkin.py
  hrms/hr/doctype/employee_checkin/test_employee_checkin.py
  hrms/hr/doctype/hr_settings/hr_settings.json
Labels: backport version-15-hotfix

#1829 fix(PWA): strip html tags in holiday descriptions
  hrms/api/__init__.py
Labels: needs-tests
