Repository frappe/hrms, pull requests merged in 2024-08, with the labels that each got.

#2037 fix: bank entry reference in payroll
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2041 fix: concurrency issue leading to duplicate attendance insertion
  hrms/hr/doctype/attendance/attendance.py
Labels: needs-tests

#1987 fix: filter in reports
  hrms/payroll/report/income_tax_deductions/income_tax_deductions.js
  hrms/payroll/report/professional_tax_deductions/professional_tax_deductions.js
  hrms/payroll/report/provident_fund_deductions/provident_fund_deductions.js
  hrms/payroll/report/salary_payments_via_ecs/salary_payments_via_ecs.js
  hrms/public/js/hrms.bundle.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#1779 fix: wrong compute of CTC on salary slip, if employee relieving date before end of payroll period.
  hrms/payroll/doctype/payroll_period/payroll_period.py
Labels: needs-tests

#2100 fix: setup wizard breaks for non-admin user during ERPNext setup on frappehr.com domains
  hrms/hooks.py
  hrms/setup.py
  hrms/subscription_utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2093 fix: translatability of boldened text
  hrms/hr/doctype/appraisal_cycle/appraisal_cycle.py
  hrms/hr/doctype/exit_interview/exit_interview.py
  hrms/hr/doctype/expense_claim/expense_claim.py
  hrms/hr/doctype/interview_feedback/interview_feedback.py
  hrms/hr/report/employee_hours_utilization_based_on_timesheet/employee_hours_utilization_based_on_timesheet.py
  hrms/hr/report/project_profitability/project_profitability.py
  hrms/hr/utils.py
  hrms/overrides/company.py
  hrms/payroll/doctype/additional_salary/additional_salary.py
  hrms/payroll/doctype/salary_structure/salary_structure.py
Labels: backport version-15-hotfix, translation

#2114 chore: fix typo in form tour
  hrms/hr/doctype/hr_settings/hr_settings.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#2092 fix: translatability of work anniversary reminders
  hrms/controllers/employee_reminders.py
Labels: translation

#2127 fix(PWA): Autocomplete search functionality in Link component
  frontend/src/components/Link.vue
Labels: backport version-15-hotfix

#2088 fix(Salary Structure Assignment: Preview Salary Slip): Calculation of earnings whose formula is dependent on deductions and so on
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: needs-tests

#2138 fix(Payroll): multiline condition & formula eval failing
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/payroll/doctype/salary_structure/salary_structure.py
Labels: backport version-15-hotfix
