Repository frappe/hrms, pull requests merged in 2024-11, with the labels that each got.

#2395 refactor(Roster): enforce selection of company
  hrms/api/roster.py
  roster/src/components/MonthViewHeader.vue
  roster/src/views/MonthView.vue
Labels: needs-tests, backport version-15-hotfix

#2400 fix(PWA): green color for present days now shows up in the attendance calendar
  frontend/src/components/AttendanceCalendar.vue
Labels: backport version-15-hotfix

#2403 fix(Payroll Bank Entry): deduct loan repayments from employee-wise accounting entries
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/payroll_entry/test_payroll_entry.py
Labels: backport version-15-hotfix

#2399 fix: Exclude carry forwarded leaves from expired leaves
  hrms/hr/report/employee_leave_balance/employee_leave_balance.py
  hrms/hr/report/employee_leave_balance/test_employee_leave_balance.py
Labels: backport version-15-hotfix

#2425 fix: PWA translation in employee checkin and attendance request
  frontend/src/views/attendance/AttendanceRequestList.vue
  frontend/src/views/attendance/EmployeeCheckinList.vue
Labels: backport version-15-hotfix

#2420 fix(Additional Salary): amount gets overwritten by salary component amount even if mapped from a reference document
  hrms/payroll/doctype/additional_salary/additional_salary.js
  hrms/payroll/doctype/additional_salary/additional_salary.json
Labels: backport version-15-hotfix

#2436 fix: Editable Letter Head field in Salary Structure Doctype
  hrms/payroll/doctype/salary_structure/salary_structure.json
Labels: backport version-15-hotfix

#2440 fix: filters on vehicle expenses report
  hrms/hr/report/vehicle_expenses/vehicle_expenses.js
Labels: backport version-15-hotfix

#2445 fix(Salary Structure Assignment): validate cost center company on server-side
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2441 fix: redundant fetching of Interviewers in Interview
  hrms/hr/doctype/interview/interview.js
Labels: backport version-14-hotfix, backport develop
