Repository frappe/hrms, pull requests merged in 2024-02, with the labels that each got.

#1374 chore: move devDependencies to dependencies
  .github/workflows/ci.yml
  frontend/package.json
Labels: backport version-15-hotfix

#1379 fix: separate tab for HR and Payroll in company
  hrms/patches.txt
  hrms/patches/v15_0/make_hr_settings_tab_in_company_master.py
  hrms/setup.py
Labels: backport version-15-hotfix

#1398 fix: change server-action args
  hrms/hr/doctype/interview/interview.py
  hrms/hr/doctype/interview/test_interview.py
Labels: needs-tests

#1204 feat: Salary Component & Structure enhancements
  hrms/payroll/doctype/salary_component/salary_component.js
  hrms/payroll/doctype/salary_component/salary_component.json
  hrms/payroll/doctype/salary_component/salary_component.py
  hrms/payroll/doctype/salary_component/test_salary_component.py
  hrms/payroll/doctype/salary_detail/salary_detail.json
  hrms/payroll/doctype/salary_structure/salary_structure.js
  hrms/payroll/doctype/salary_structure/salary_structure.json
  hrms/payroll/doctype/salary_structure/salary_structure.py
  hrms/public/js/hrms.bundle.js
  hrms/public/js/payroll_common.js
Labels: backport version-15-hotfix

#1392 fix(Expense Claim): status update on document cancellation
  hrms/hr/doctype/expense_claim/expense_claim.py
Labels: needs-tests

#1407 fix: don't consider holidays as Absent when 'Consider Unmarked Attendance As' = Absent
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-15-hotfix

#1418 fix: update leave dashboard string to translatable format
  hrms/hr/doctype/leave_application/leave_application_dashboard.html
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#1425 chore: update modified timestamp for employee onboarding to sync recent changes
  hrms/hr/doctype/employee_onboarding/employee_onboarding.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#1435 fix(Leave Application): Corrected rendering of Leave Application email template when HTML format is used
  hrms/hr/doctype/leave_application/leave_application.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1368 test: fix salary slip loan tests
  .github/helper/install.sh
  hrms/payroll/doctype/payroll_entry/test_payroll_entry.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-15-hotfix

#1463 fix: german translations
  hrms/translations/de.csv
Labels: backport version-14-hotfix
