Repository frappe/hrms, pull requests merged in 2024-04, with the labels that each got.

#1623 fix: use reference name while updating exc rate
  hrms/overrides/employee_payment_entry.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#1595 feat: show holidays and colour code in attendance calendar
  hrms/hr/doctype/attendance/attendance.json
  hrms/hr/doctype/attendance/attendance.py
  hrms/hr/doctype/attendance/attendance_calendar.js
Labels: needs-tests

#1381 feat: Leave Ledger Report
  .github/workflows/linters.yml
  hrms/hr/doctype/leave_allocation/leave_allocation.js
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
  hrms/hr/doctype/leave_application/leave_application.js
  hrms/hr/doctype/leave_encashment/leave_encashment.js
  hrms/hr/report/leave_ledger/__init__.py
  hrms/hr/report/leave_ledger/leave_ledger.js
  hrms/hr/report/leave_ledger/leave_ledger.json
  hrms/hr/report/leave_ledger/leave_ledger.py
  hrms/hr/report/leave_ledger/test_leave_ledger.py
  hrms/payroll/doctype/salary_component/salary_component.js
  hrms/payroll/doctype/salary_structure/salary_structure.js
  hrms/public/js/hrms.bundle.js
  hrms/public/js/utils/index.js
  hrms/public/js/utils/leave_utils.js
  hrms/public/js/utils/payroll_utils.js
Labels: backport version-15-hotfix

#1652 style(PWA): fix UI inconsistencies on different browsers
  frontend/src/components/BottomTabs.vue
  frontend/src/components/FormView.vue
  frontend/src/components/WorkflowActionSheet.vue
  frontend/src/main.css
  frontend/src/views/salary_slip/Detail.vue
Labels: backport version-15-hotfix

#1478 refactor(Employee Advance): update Pending Amount on validation
  hrms/hr/doctype/employee_advance/employee_advance.js
  hrms/hr/doctype/employee_advance/employee_advance.json
  hrms/hr/doctype/employee_advance/employee_advance.py
  hrms/hr/doctype/employee_advance/test_employee_advance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1665 fix(PWA): handle password expiry during login
  frontend/src/data/session.js
  frontend/src/main.js
  frontend/src/views/InvalidEmployee.vue
  frontend/src/views/Login.vue
Labels: backport version-15-hotfix

#1704 fix(PWA): allow selecting accounting dimensions in Expense Claim
  frontend/src/components/ExpenseTaxesTable.vue
  frontend/src/components/ExpensesTable.vue
Labels: backport version-15-hotfix

#1689 fix(Income Tax Computation): eval locals for Income Tax Slab
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1715 fix(HRA calculation): fetch active salary assignment assigned before payroll period if none in period
  hrms/hr/utils.py
  hrms/payroll/doctype/employee_tax_exemption_declaration/test_employee_tax_exemption_declaration.py
  hrms/regional/india/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix
