Repository frappe/hrms, pull requests merged in 2024-07, with the labels that each got.

#1966 feat(Salary Payments via ECS): add Net Pay column
  hrms/payroll/report/salary_payments_via_ecs/salary_payments_via_ecs.py
Labels: needs-tests

#1955 fix: miscellaneous desk UI fixes
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.js
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.json
  hrms/hr/doctype/interview/interview.js
  hrms/hr/doctype/job_offer/job_offer.json
  hrms/hr/doctype/leave_control_panel/leave_control_panel.js
  hrms/payroll/doctype/bulk_salary_structure_assignment/bulk_salary_structure_assignment.js
  hrms/payroll/doctype/bulk_salary_structure_assignment/bulk_salary_structure_assignment.json
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1976 refactor: validate total weightage in all appraisal forms
  hrms/hr/doctype/appraisal/appraisal.py
  hrms/hr/doctype/appraisal_template/appraisal_template.py
  hrms/hr/doctype/employee_performance_feedback/employee_performance_feedback.py
  hrms/mixins/appraisal.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1923 feat(PWA): Handle OTP in login form
  frontend/src/data/session.js
  frontend/src/views/Login.vue
Labels: backport version-15-hotfix

#1935 feat: Salary Withholding
  hrms/hooks.py
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.py
  hrms/hr/doctype/full_and_final_statement/test_full_and_final_statement.py
  hrms/overrides/dashboard_overrides.py
  hrms/payroll/doctype/payroll_employee_detail/payroll_employee_detail.json
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/salary_slip/salary_slip.json
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_withholding/__init__.py
  hrms/payroll/doctype/salary_withholding/salary_withholding.js
  hrms/payroll/doctype/salary_withholding/salary_withholding.json
  hrms/payroll/doctype/salary_withholding/salary_withholding.py
  hrms/payroll/doctype/salary_withholding/test_salary_withholding.py
  hrms/payroll/doctype/salary_withholding_cycle/__init__.py
  hrms/payroll/doctype/salary_withholding_cycle/salary_withholding_cycle.json
  hrms/payroll/doctype/salary_withholding_cycle/salary_withholding_cycle.py
  hrms/payroll/workspace/salary_payout/salary_payout.json
  hrms/public/js/erpnext/journal_entry.js
Labels: backport version-15-hotfix
