Repository frappe/hrms, pull requests merged in 2024-10, with the labels that each got.

#2243 feat: allow get_first_day and get_last_day in salary slip eval
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#2268 chore: update site urls from frappehr.com to frappe.io/hr
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/helper/documentation.py
  README.md
  hrms/hr/doctype/leave_type/leave_type.js
  package.json
  pyproject.toml
Labels: backport version-14-hotfix, backport version-15-hotfix

#2274 feat(Shift Location): add Shift Assignment connection
  hrms/hr/doctype/shift_location/shift_location.json
Labels: backport version-15-hotfix

#977 refactor(Report): Employee working on a holiday
  hrms/hr/report/employees_working_on_a_holiday/employees_working_on_a_holiday.js
  hrms/hr/report/employees_working_on_a_holiday/employees_working_on_a_holiday.py
Labels: needs-tests

#2281 perf(Roster): improve get_holidays function
  hrms/api/roster.py
Labels: needs-tests

#1269 fix(Leave Policy Assignment): calculation of months passed since from_date
  hrms/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  hrms/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
  hrms/hr/doctype/leave_type/test_leave_type.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#2292 feat: allow creating attendance requests for future dates
  hrms/hr/doctype/attendance_request/attendance_request.py
  hrms/hr/utils.py
Labels: needs-tests

#2276 fix(Expense Claim): update ledger entries after updating cost center
  hrms/hr/doctype/expense_claim/expense_claim.py
  hrms/hr/doctype/expense_claim_detail/expense_claim_detail.json
  hrms/hr/doctype/expense_taxes_and_charges/expense_taxes_and_charges.json
Labels: needs-tests

#2291 fix(Leave Policy Assignment): calculation of months passed
  hrms/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  hrms/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
  hrms/hr/doctype/leave_type/test_leave_type.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2297 Employee advance cancellation
  hrms/hr/doctype/employee_advance/employee_advance.py
  hrms/hr/doctype/employee_advance/test_employee_advance.py
  hrms/hr/doctype/hr_settings/hr_settings.json
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/payroll/doctype/salary_structure/test_salary_structure.py
Labels: backport version-15-hotfix

#2091 feat(PWA): Allow login using OAuth
  frontend/src/views/Login.vue
  hrms/api/oauth.py
  hrms/www/hrms.py
Labels: backport version-15-hotfix

#2303 fix(Employee Checkin): Fetch Geolocation
  hrms/hr/doctype/employee_checkin/employee_checkin.py
  hrms/public/js/utils/index.js
Labels: needs-tests, backport version-15-hotfix

#2305 test: add test for Employees Working on a Holiday report
  hrms/hr/report/employees_working_on_a_holiday/test_employees_working_on_a_holiday.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2309 refactor(Salary Structure Assignment): opening balances setup warning + section visibility
  hrms/payroll/doctype/payroll_settings/payroll_settings.json
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.js
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.json
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.py
Labels: backport version-15-hotfix

#2317 fix(Shift Location): fetch geolocation
  hrms/hr/doctype/shift_location/shift_location.py
Labels: needs-tests, backport version-15-hotfix

#2324 fix: total_loan_repayment field in payroll entry
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: needs-tests

#1856 feat: Translate PWA
  frontend/src/components/AttendanceCalendar.vue
  frontend/src/components/AttendanceRequestItem.vue
  frontend/src/components/BaseLayout.vue
  frontend/src/components/BottomTabs.vue
  frontend/src/components/CheckInPanel.vue
  frontend/src/components/EmployeeAdvanceBalance.vue
  frontend/src/components/EmployeeAdvanceItem.vue
  frontend/src/components/ExpenseAdvancesTable.vue
  frontend/src/components/ExpenseClaimItem.vue
  frontend/src/components/ExpenseClaimSummary.vue
  frontend/src/components/ExpenseItems.vue
  frontend/src/components/ExpenseTaxesTable.vue
  frontend/src/components/ExpensesTable.vue
  frontend/src/components/FilePreviewModal.vue
  frontend/src/components/FileUploaderView.vue
  frontend/src/components/FormField.vue
  frontend/src/components/FormView.vue
  frontend/src/components/FormattedField.vue
  frontend/src/components/Holidays.vue
  frontend/src/components/InstallPrompt.vue
  frontend/src/components/LeaveBalance.vue
  frontend/src/components/LeaveRequestItem.vue
  frontend/src/components/Link.vue
  frontend/src/components/ListFiltersActionSheet.vue
  frontend/src/components/ListView.vue
  frontend/src/components/QuickLinks.vue
  frontend/src/components/RequestActionSheet.vue
  frontend/src/components/RequestList.vue
  frontend/src/components/RequestPanel.vue
  frontend/src/components/SalarySlipItem.vue
  frontend/src/components/ShiftAssignmentItem.vue
  frontend/src/components/ShiftRequestItem.vue
  frontend/src/components/TabButtons.vue
  frontend/src/components/WorkflowActionSheet.vue
  frontend/src/main.js
  frontend/src/plugins/translationsPlugin.js
  frontend/src/utils/formatters.js
  frontend/src/views/AppSettings.vue
  frontend/src/views/Home.vue
  frontend/src/views/InvalidEmployee.vue
  frontend/src/views/Login.vue
  frontend/src/views/Notifications.vue
  frontend/src/views/Profile.vue
  frontend/src/views/attendance/AttendanceRequestList.vue
  frontend/src/views/attendance/Dashboard.vue
  frontend/src/views/attendance/EmployeeCheckinList.vue
  frontend/src/views/attendance/ShiftAssignmentForm.vue
  frontend/src/views/attendance/ShiftAssignmentList.vue
  frontend/src/views/attendance/ShiftRequestForm.vue
  frontend/src/views/attendance/ShiftRequestList.vue
  frontend/src/views/employee_advance/List.vue
  frontend/src/views/expense_claim/Dashboard.vue
  frontend/src/views/expense_claim/List.vue
  frontend/src/views/leave/Dashboard.vue
  frontend/src/views/leave/Form.vue
  frontend/src/views/leave/List.vue
  frontend/src/views/salary_slip/Dashboard.vue
  frontend/src/views/salary_slip/Detail.vue
  hrms/www/hrms.py
Labels: backport version-15-hotfix

#2347 fix: correct bank entry calculation with deductions and prevent multiple loan repayment deductions
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/payroll_entry/test_payroll_entry.py
Labels: needs-tests

#2351 fix(PWA): post login redirection fails due to `default_route` conflict with other app
  frontend/src/data/session.js
  hrms/www/hrms.py
Labels: backport version-15-hotfix

#2359 fix(PWA): broken translation strings
  frontend/src/components/AttendanceCalendar.vue
  frontend/src/components/EmployeeAdvanceItem.vue
  frontend/src/components/EmptyState.vue
  frontend/src/components/ExpenseAdvancesTable.vue
  frontend/src/components/ExpenseItems.vue
  frontend/src/components/ExpenseTaxesTable.vue
  frontend/src/components/ExpensesTable.vue
  frontend/src/components/FormField.vue
  frontend/src/components/FormView.vue
  frontend/src/components/ListView.vue
  frontend/src/components/RequestActionSheet.vue
  frontend/src/components/RequestList.vue
  frontend/src/components/SalarySlipItem.vue
  frontend/src/components/WorkflowActionSheet.vue
  frontend/src/views/attendance/ShiftAssignmentList.vue
  frontend/src/views/attendance/ShiftRequestList.vue
  frontend/src/views/salary_slip/Dashboard.vue
Labels: backport version-15-hotfix

#2358 fix: stop leave allocation for left employees
  hrms/hr/utils.py
Labels: backport version-15-hotfix

#2366 fix(PWA): replace datepicker with input component
  frontend/src/components/FormField.vue
Labels: backport version-15-hotfix

#2369 feat: add Payroll Entry to Bank Account dashboard
  hrms/hooks.py
  hrms/overrides/dashboard_overrides.py
Labels: backport version-14-hotfix, backport version-15-hotfix
