Repository frappe/hrms, pull requests merged in 2024-06, with the labels that each got.

#1848 fix: avoid rejected leave application on leave check
  hrms/hr/doctype/attendance_request/attendance_request.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1858 fix: don't overwrite leave approver while rendering leave summary dashboard
  hrms/hr/doctype/department_approver/department_approver.py
  hrms/hr/doctype/leave_application/leave_application.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#1697 fix: calculate leaves for months passed even when policy assignment is based on custom range
  hrms/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  hrms/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1887 fix(PWA): make approval fields & buttons permission sensitive based on permlevel
  frontend/src/components/FormView.vue
  frontend/src/components/RequestActionSheet.vue
  frontend/src/composables/workflow.js
  frontend/src/views/expense_claim/Form.vue
  hrms/api/__init__.py
  hrms/hr/doctype/expense_claim/expense_claim.json
Labels: backport version-15-hotfix

#1889 test: type cast date values in onboarding tests
  hrms/hr/doctype/employee_onboarding/test_employee_onboarding.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#1912 fix(UX): validate missing Income Tax Slab in Salary Structure Assignment
  hrms/payroll/doctype/salary_structure/test_salary_structure.py
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#1909 fix: TypeError in Salary Slip Creation Due to Uninitialized Loans Field
  hrms/payroll/doctype/salary_slip/salary_slip_loan_utils.py
Labels: squash, backport version-15-hotfix
