Repository frappe/hrms, pull requests merged in 2025-08, with the labels that each got.

#3357 fix: add expenses table for reposting
  hrms/hr/doctype/expense_claim/expense_claim.py
Labels: needs-tests, backport version-15-hotfix

#3441 fix: use Advanced Payment Ledger Entry for advance payment doctypes
  hrms/hr/doctype/employee_advance/employee_advance.py
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.py
  hrms/hr/doctype/leave_encashment/leave_encashment.py
  hrms/hr/doctype/leave_encashment/test_leave_encashment.py
  hrms/payroll/doctype/gratuity/gratuity.py
Labels: needs-tests, backport version-15-hotfix

#3140 fix: filter query default employee advance account by account type
  hrms/hr/doctype/employee_advance/employee_advance.js
  hrms/public/js/erpnext/company.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#3428 fix: allocate correct quarterly earned leaves
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
  hrms/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  hrms/hr/doctype/leave_type/leave_type.js
Labels: backport version-15-hotfix

#3321 feat(PWA): enable PDF download option via showDownloadPDFButton prop
  frontend/src/components/FormView.vue
  frontend/src/utils/commonUtils.js
  frontend/src/views/expense_claim/Form.vue
  frontend/src/views/salary_slip/Detail.vue
  hrms/api/__init__.py
Labels: needs-tests

#3483 fix(Roster): do not get value for link fields
  roster/src/components/ShiftAssignmentDialog.vue
Labels: backport version-15-hotfix

#3481 fix: cost center add in gl when loan repay from payroll
  hrms/payroll/doctype/salary_slip/salary_slip_loan_utils.py
Labels: needs-tests

#3508 fix: fetch component details from salary component
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#3513 fix(payroll-entry): submit payroll entry while creating salary slips in background job
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
Labels: backport version-15-hotfix

#3449 feat: Calculate & Show Income tax breakup section in Salary Slip if it is overwritten from Additional salary
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/payroll/doctype/salary_structure/test_salary_structure.py
Labels: backport version-15-hotfix

#3498 fix(Salary Component): add missing translation function
  hrms/payroll/doctype/salary_component/salary_component.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#3527 Revert "fix: check multi currency when salary slip currency differs from company currency"
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: needs-tests

#2816 fix: add company_currency to currencies list to fix issue where multi currency is disabled if company currecy is differnent from component currencies
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: backport version-14-hotfix, backport version-15-hotfix
