Repository frappe/hrms, pull requests merged in 2025-06, with the labels that each got.

#3200 fix: update approver name on changing approver
  frontend/src/views/leave/Form.vue
Labels: backport version-15-hotfix

#3208 fix: sync amount_based_on_formula field while syncing formula field of a component with linked salary structure
  hrms/payroll/doctype/salary_component/salary_component.py
Labels: backport version-15-hotfix

#3215 test: specify parent details while creating child
  hrms/hr/doctype/leave_policy/test_leave_policy.py
Labels: backport version-15-hotfix

#3232 fix: edit the error message in Employee Advance for advance_account field
  hrms/hr/doctype/employee_advance/employee_advance.json
  hrms/hr/doctype/employee_advance/employee_advance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3236 chore: move employee advance account validation to before_submit hook
  hrms/hr/doctype/employee_advance/employee_advance.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3240 fix: inaccurate lwp calculation in salary slip when partially paid leave exists for employee
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3245 fix: auto update last sync for extra long shifts
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-15-hotfix

#3220 fix(PWA): Fetch form data for the correct employee
  frontend/src/views/expense_claim/Form.vue
  frontend/src/views/leave/Form.vue
Labels: backport version-15-hotfix

#3257 fix: provident fund report error
  hrms/payroll/report/provident_fund_deductions/provident_fund_deductions.py
Labels: needs-tests

#3286 fix: status not found while fetching attendance requests
  hrms/api/__init__.py
Labels: needs-tests, backport version-15-hotfix
