Repository frappe/hrms, pull requests merged in 2025-02, with the labels that each got.

#2742 fix: show validation message before changing shift start time
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-15-hotfix

#2739 fix: Only show permitted attendance records in calendar view
  hrms/hr/doctype/attendance/attendance.json
  hrms/hr/doctype/attendance/attendance.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#2704 fix: Calculate earned leaves pro-rata if policy assignment is created after the leave period
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
  hrms/hr/doctype/leave_policy_assignment/leave_policy_assignment.py
  hrms/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2731 fix: include current month full tax in total income tax and current m…
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#2725 fix: remove employee other income from CTC
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#2763 fix: Only fetch active shift assignment locations for geofencing
  hrms/hr/doctype/employee_checkin/employee_checkin.py
Labels: needs-tests, backport version-15-hotfix

#2773 refactor: multiple checkin logs
  frontend/src/components/CheckInPanel.vue
  hrms/hr/doctype/employee_checkin/employee_checkin.py
  hrms/hr/doctype/employee_checkin/test_employee_checkin.py
Labels: needs-tests, backport version-15-hotfix

#2757 fix: typo in salary_register.py
  hrms/payroll/report/salary_register/salary_register.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#2779 refactor: Use web view for job opening
  hrms/hr/doctype/job_opening/job_opening.json
  hrms/hr/doctype/job_opening/templates/job_opening.html
  hrms/hr/doctype/job_opening/templates/job_opening_row.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#2795 refactor: remove unused "status" field in appraisal
  hrms/hr/doctype/appraisal/appraisal.json
  hrms/hr/doctype/appraisal/appraisal.py
  hrms/hr/workspace/performance/performance.json
Labels: needs-tests

#2783 fix: validation for circular shift times
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-15-hotfix

#2798 fix: calculations in income tax computation report
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: needs-tests

#2513 feat(Shift Type): Auto update Last Sync of Checkin
  hrms/hooks.py
  hrms/hr/doctype/shift_type/shift_type.js
  hrms/hr/doctype/shift_type/shift_type.json
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-15-hotfix

#2775 feat: process leave encashment via payment entry
  hrms/hooks.py
  hrms/hr/doctype/leave_encashment/leave_encashment.js
  hrms/hr/doctype/leave_encashment/leave_encashment.json
  hrms/hr/doctype/leave_encashment/leave_encashment.py
  hrms/hr/doctype/leave_encashment/test_leave_encashment.py
  hrms/overrides/employee_payment_entry.py
  hrms/patches.txt
  hrms/patches/v15_0/create_accounting_dimensions_in_leave_encashment.py
  hrms/patches/v15_0/update_payment_status_for_leave_encashment.py
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/public/js/erpnext/payment_entry.js
Labels: needs-tests

#2810 fix: clear loans on employee and salary slip date change
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix
