Repository frappe/hrms, pull requests merged in 2025-03, with the labels that each got.

#2827 fix(training_result): fixed employee fetch error in training_result
  hrms/hr/doctype/training_result/training_result.js
Labels: backport version-14-hotfix, backport develop

#2864 fix(Leave Ledger): Remove DocType Link from Report
  hrms/hr/report/leave_ledger/leave_ledger.py
Labels: needs-tests

#2866 fix: exclude opening balances if salary structure assignment starts b…
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-15-hotfix

#2863 fix(Leave Application): Validate Attendance marked for *all* present types
  hrms/hr/doctype/leave_application/leave_application.py
Labels: needs-tests

#2900 feat(minor): allow setting shift location through employee checkin api
  hrms/hr/doctype/employee_checkin/employee_checkin.py
Labels: backport version-15-hotfix

#2890 feat(minor): Show option to expire carried forward leaves
  hrms/hr/doctype/leave_allocation/leave_allocation.py
Labels: backport version-15-hotfix

#2740 fix: disable overwrite_salary_structure_amount for leave encashment's additional salary component
  hrms/hr/doctype/leave_encashment/leave_encashment.py
Labels: backport version-15-hotfix

#2908 fix: display slab based tax and additional tax amount separately in income tax computation report
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: backport version-15-hotfix

#2914 fix: add @if_lending_app_installed flag to process_loan_interest_accruals function
  hrms/payroll/doctype/salary_slip/salary_slip_loan_utils.py
Labels: backport version-15-hotfix

#2919 chore: update yarn.lock
  frontend/yarn.lock
  package.json
  roster/yarn.lock
  yarn.lock
Labels: backport version-15-hotfix

#2911 fix: cannot cancel gratuity when payment ledger entry exists
  hrms/payroll/doctype/gratuity/gratuity.py
Labels: backport version-14-hotfix, backport version-15-hotfix
