Repository frappe/hrms, pull requests merged in 2025-04, with the labels that each got.

#2944 fix(Salary Register): print translatability
  hrms/payroll/report/salary_register/salary_register.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#2948 fix: fetch child table fields from meta
  hrms/hr/doctype/interview/interview.js
  hrms/hr/doctype/interview/interview.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2965 fix: allow creating half attendance from leave application or checkins
  hrms/hr/doctype/attendance/attendance.json
  hrms/hr/doctype/attendance/attendance.py
  hrms/hr/doctype/compensatory_leave_request/compensatory_leave_request.py
  hrms/hr/doctype/employee_checkin/employee_checkin.py
  hrms/hr/doctype/employee_checkin/test_employee_checkin.py
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_application/test_leave_application.py
  hrms/hr/doctype/shift_type/shift_type.py
Labels: backport version-15-hotfix

#2887 fix: Roster path in Shift & Attendance workspace
  hrms/hr/workspace/shift_&_attendance/shift_&_attendance.json
Labels: squash, backport version-15-hotfix

#2862 fix(ux): Set from_date or to_date automatically in Leave Application if to_date < from_date
  hrms/hr/doctype/leave_application/leave_application.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#2903 fix(payroll bank entry): ignore employee with zero payment amount
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
  hrms/payroll/doctype/payroll_entry/test_payroll_entry.py
Labels: backport version-15-hotfix

#2963 fix: error in expense claim doctype caused due to precision issue while calculating outstanding amount
  hrms/hr/doctype/expense_claim/expense_claim.py
  hrms/overrides/employee_payment_entry.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2989 fix: set payroll date to none before validating if additional salary is recurring
  hrms/payroll/doctype/additional_salary/additional_salary.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2992 fix: none checks for non-mandatory fields in validation
  hrms/hr/doctype/shift_type/shift_type.py
Labels: needs-tests

#2995 fix: auto update last sync for night shifts
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-15-hotfix

#2970 fix: app translatability
  frontend/src/components/AttendanceCalendar.vue
  frontend/src/components/EmployeeAdvanceBalance.vue
  frontend/src/components/ExpenseAdvancesTable.vue
  frontend/src/components/ExpenseTaxesTable.vue
  frontend/src/components/ExpensesTable.vue
  frontend/src/components/Holidays.vue
  frontend/src/components/LeaveBalance.vue
  frontend/src/components/ListView.vue
  frontend/src/components/RequestList.vue
  frontend/src/components/SalaryDetailTable.vue
  frontend/src/views/Home.vue
  frontend/src/views/Login.vue
  frontend/src/views/Notifications.vue
  frontend/src/views/attendance/AttendanceRequestForm.vue
  frontend/src/views/employee_advance/List.vue
  frontend/src/views/leave/List.vue
  frontend/src/views/salary_slip/Dashboard.vue
Labels: backport version-15-hotfix

#2959 fix: translatability fixes
  hrms/hr/workspace/employee_lifecycle/employee_lifecycle.json
  hrms/overrides/dashboard_overrides.py
Labels: needs-tests

#3004 ci(mergify): auto merge PRs only after successful CI runs
  .mergify.yml
Labels: backport version-15-hotfix

#3015 fix: allow creating two half day leave applications
  hrms/hr/doctype/leave_application/leave_application.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#2983 fix(income tax computation report): change CTC column label to Gross Earnings and update Total Taxabe Amount column value
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
  hrms/payroll/report/income_tax_computation/test_income_tax_computation.py
Labels: backport version-14-hotfix, backport version-15-hotfix
