Repository frappe/hrms, pull requests merged in 2025-05, with the labels that each got.

#3042 test: fix flakiness caused due to dates
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3048 fix: keep half day status unchanged if two half leave applications are created
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_application/test_leave_application.py
Labels: backport version-15-hotfix

#3055 fix: HRMS Link value reset on search
  frontend/src/components/Link.vue
Labels: backport version-15-hotfix

#3057 feat: update half day attendance from employee tool
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.js
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.json
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.py
  hrms/hr/doctype/employee_attendance_tool/test_employee_attendance_tool.py
Labels: backport version-15-hotfix

#3050 feat: tax relief or rebate configuration
  hrms/hooks.py
  hrms/hr/report/project_profitability/test_project_profitability.py
  hrms/hr/utils.py
  hrms/payroll/doctype/income_tax_slab/income_tax_slab.json
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
  hrms/payroll/report/income_tax_deductions/test_income_tax_deductions.py
  hrms/regional/india/setup.py
  hrms/regional/india/utils.py
Labels: needs-tests, needs-docs

#3069 fix: auto update last sync for shifts overflowing into next day due to checkout buffer
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-15-hotfix

#3083 fix: handle null value on half_marked_employees_table
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.js
Labels: backport version-15-hotfix

#3090 chore: a reliable test suite
  hrms/hr/doctype/appraisal/test_appraisal.py
  hrms/hr/doctype/attendance/test_attendance.py
  hrms/hr/doctype/attendance/test_records.json
  hrms/hr/doctype/attendance_request/test_attendance_request.py
  hrms/hr/doctype/compensatory_leave_request/test_compensatory_leave_request.py
  hrms/hr/doctype/employee_separation/test_employee_separation.py
  hrms/hr/doctype/employment_type/test_employment_type.py
  hrms/hr/doctype/expense_claim/test_expense_claim.py
  hrms/hr/doctype/leave_allocation/test_earned_leaves.py
  hrms/hr/doctype/leave_allocation/test_leave_allocation.py
  hrms/hr/doctype/leave_allocation/test_records.json
  hrms/hr/doctype/leave_application/test_leave_application.py
  hrms/hr/doctype/leave_block_list/test_leave_block_list.py
  hrms/hr/doctype/leave_ledger_entry/test_leave_ledger_entry.py
  hrms/hr/doctype/leave_period/test_leave_period.py
  hrms/hr/doctype/leave_policy_assignment/test_leave_policy_assignment.py
  hrms/hr/doctype/leave_type/test_leave_type.py
  hrms/hr/doctype/shift_assignment/test_shift_assignment.py
  hrms/hr/doctype/shift_request/test_shift_request.py
  hrms/hr/doctype/shift_type/test_shift_type.py
  hrms/tests/utils.py
Labels: help wanted, do not backport

#3091 fix: marking attendance if status is set but employees are not selected
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.js
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.json
Labels: backport version-15-hotfix

#2921 fix: prevent multiple feedback submissions by checking existing submi…
  hrms/hr/doctype/interview/interview.js
Labels: backport version-15-hotfix, waiting-for-suggested-changes

#3096 fix: tax calculation from other taxes and charges
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3030 feat(minor): show detailed error messages on check-in failure
  frontend/src/components/CheckInPanel.vue
Labels: backport version-15-hotfix, waiting-for-suggested-changes

#3100 chore: patch for marginal relief field
  hrms/patches.txt
  hrms/patches/v14_0/create_marginal_relief_field_for_india_localisation.py
  hrms/patches/v15_0/create_marginal_relief_field_for_india_localisation.py
  hrms/regional/india/setup.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3103 fix: return correct no. of payroll subperiods when employee relieving date and salary slip start date are same
  hrms/hr/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2978 feat: Half day lite in Payroll
  hrms/hr/doctype/attendance/attendance.json
  hrms/hr/doctype/attendance/attendance.py
  hrms/hr/doctype/employee_attendance_tool/employee_attendance_tool.py
  hrms/hr/doctype/employee_checkin/employee_checkin.py
  hrms/hr/doctype/employee_checkin/test_employee_checkin.py
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_application/test_leave_application.py
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/patches.txt
  hrms/patches/v15_0/set_half_day_status_to_present_in_exisiting_half_day_attendance.py
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_slip/test_salary_slip.py
Labels: backport version-15-hotfix

#3112 refactor: document share message
  hrms/hr/utils.py
Labels: backport version-15-hotfix

#3115 patch: fixed incorrect condition
  hrms/patches/v15_0/set_half_day_status_to_present_in_exisiting_half_day_attendance.py
Labels: needs-tests

#3128 chore: use ESM instead of CommonJS
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  roster/package.json
  roster/postcss.config.js
  roster/tailwind.config.js
Labels: backport version-15-hotfix

#3135 fix: add Employee Status filter to income tax report
  hrms/payroll/report/income_tax_computation/income_tax_computation.js
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: backport version-15-hotfix

#3133 feat: show team attendance requests under team requests
  frontend/src/components/AttendanceRequestItem.vue
  frontend/src/components/EmployeeAdvanceBalance.vue
  frontend/src/components/ExpenseAdvancesTable.vue
  frontend/src/components/LeaveBalance.vue
  frontend/src/components/RequestList.vue
  frontend/src/components/RequestPanel.vue
  frontend/src/components/SalaryDetailTable.vue
  frontend/src/data/attendance.js
  frontend/src/views/employee_advance/List.vue
  frontend/src/views/expense_claim/List.vue
  frontend/src/views/leave/List.vue
  hrms/api/__init__.py
Labels: backport version-15-hotfix

#3120 fix: error in Attendance Gantt View
  hrms/hr/doctype/attendance/attendance.py
  hrms/hr/doctype/attendance/attendance_calendar.js
Labels: backport version-14-hotfix, backport version-15-hotfix
