Repository frappe/hrms, pull requests merged in 2025-01, with the labels that each got.

#2568 fix(CTC): `amount_exempted_from_income_tax` only considers last deduction item (exempted from IT), not all
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2571 fix: skip patch if previous doctype doesn't exist
  hrms/patches/v15_0/migrate_shift_assignment_schedule_to_shift_schedule.py
Labels: needs-tests, backport version-15-hotfix

#2567 fix: correct date handling for get_weekday in shift schedule assignment
  hrms/hr/doctype/shift_schedule_assignment/shift_schedule_assignment.py
Labels: needs-tests

#2595 fix: resolve html rendering issue for holidays in roster view
  roster/src/components/MonthViewTable.vue
Labels: backport version-15-hotfix

#2439 fix: Breadcrumb Label for Non-Logged-In Users in Job Portal
  hrms/www/jobs/index.py
Labels: backport version-15-hotfix

#2615 fix: add leaves to the correct allocation for compensatory leave request
  hrms/hr/doctype/compensatory_leave_request/compensatory_leave_request.py
  hrms/hr/doctype/compensatory_leave_request/test_compensatory_leave_request.py
  hrms/hr/doctype/leave_ledger_entry/leave_ledger_entry.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2582 fix: validate department based on company in expense claim
  hrms/hr/doctype/expense_claim/expense_claim.js
  hrms/hr/doctype/expense_claim/expense_claim.py
  hrms/hr/doctype/expense_claim/test_expense_claim.py
Labels: backport version-15-hotfix

#2614 fix: create single leave ledger encashment entry for carry forwarding leave type
  hrms/hr/doctype/leave_encashment/leave_encashment.py
Labels: needs-tests

#2620 fix(SalarySlip): use the correct variable for the function in _get_days_outside_period
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: add-test-cases

#2630 fix: disable 'User Cannot Search' for bulk tools
  hrms/hr/doctype/leave_control_panel/leave_control_panel.json
  hrms/hr/doctype/shift_assignment_tool/shift_assignment_tool.json
  hrms/payroll/doctype/bulk_salary_structure_assignment/bulk_salary_structure_assignment.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#2518 fix: update status of gratuity record referenced in fnf
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.js
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.py
  hrms/hr/doctype/full_and_final_statement/test_full_and_final_statement.py
  hrms/payroll/doctype/gratuity/gratuity.py
  hrms/payroll/doctype/gratuity/test_gratuity.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2618 fix: allow setting opening tax balance in salary assignment for old employees too
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.py
Labels: needs-tests

#2607 fix(Income Tax Computation): include all tax components under Total Tax Deducted
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: needs-tests

#2633 chore: test creation of leave ledger entries depending on leave type while encashing leaves
  hrms/hr/doctype/leave_encashment/test_leave_encashment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2602 fix: mark absence for default shift on non-overlapping dates if another shift assignment exists
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2594 fix: Bank Reconciliation tool fails to match on expense claims with tax
  hrms/hr/utils.py
Labels: backport version-14-hotfix, backport develop

#2592 fix: Bank Reconciliation tool fails with KeyError: 'payment_doctype'
  hrms/hr/utils.py
Labels: needs-tests, backport version-14-hotfix, backport develop

#2471 fix: gratuity calculation for 'Sum of all previous slabs' option
  hrms/payroll/doctype/gratuity/gratuity.py
  hrms/payroll/doctype/gratuity/test_gratuity.py
Labels: needs-tests

#2640 fix: set default value for total_exemption, remove tax exemption elig…
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: needs-tests

#2646 fix: set leave encashment amount and payable account in fnf payables
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.js
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.py
Labels: needs-tests

#2679 chore: fix linter issue for emp variable in report file
  hrms/payroll/report/income_tax_computation/income_tax_computation.py
Labels: needs-tests

#2642 refactor: Flattened sidebar
  hrms/hooks.py
  hrms/hr/workspace/employee_lifecycle/employee_lifecycle.json
  hrms/hr/workspace/expense_claims/expense_claims.json
  hrms/hr/workspace/leaves/leaves.json
  hrms/hr/workspace/overview/overview.json
  hrms/hr/workspace/performance/performance.json
  hrms/hr/workspace/recruitment/recruitment.json
  hrms/hr/workspace/shift_&_attendance/shift_&_attendance.json
  hrms/payroll/workspace/payroll/payroll.json
  hrms/payroll/workspace/salary_payout/salary_payout.json
  hrms/payroll/workspace/tax_&_benefits/tax_&_benefits.json
Labels: needs-tests

#2683 refactor: fetch all employees that may have shift type as active shift
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/doctype/shift_type/test_shift_type.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2691 fix: HRA calculation if there are multiple salary structure assignments for the current payroll period
  hrms/hr/utils.py
  hrms/payroll/doctype/employee_tax_exemption_declaration/test_employee_tax_exemption_declaration.py
  hrms/regional/india/setup.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2692 fix: Don't show warnings for opening earnings and taxes if assignment start date is same as payroll period start date
  hrms/payroll/doctype/salary_structure_assignment/salary_structure_assignment.py
Labels: needs-tests

#2664 fix: Handle Company deletion
  hrms/hooks.py
  hrms/overrides/company.py
Labels: needs-tests

#2686 Fix timesheet based salary slip
  hrms/payroll/doctype/payroll_entry/payroll_entry.js
  hrms/payroll/doctype/payroll_entry/payroll_entry.json
  hrms/payroll/doctype/salary_slip/salary_slip.js
  hrms/payroll/doctype/salary_slip/salary_slip.py
  hrms/payroll/doctype/salary_structure/salary_structure.js
Labels: needs-tests

#2709 fix: Fetch shift details and save for all shift types
  hrms/hr/doctype/employee_checkin/employee_checkin.js
  hrms/hr/doctype/employee_checkin/test_employee_checkin.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2712 fix: Show better alert on fetch shift if no shift is found
  hrms/hr/doctype/employee_checkin/employee_checkin.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#2716 fix: Lending app uninstall error
  hrms/setup.py
Labels: needs-tests

#2643 Fix: loan repayment via fnf
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement.py
  hrms/hr/doctype/full_and_final_statement/full_and_final_statement_loan_utils.py
Labels: needs-tests

#2715 fix: handle None values in earnings and deductions to avoid TypeError
  hrms/payroll/doctype/payroll_entry/payroll_entry.py
Labels: needs-tests

#2728 feat: add CI for docker container build
  .github/helper/apps.json
  .github/workflows/build_image.yml
Labels: backport version-15-hotfix

#2732 chore: remove comment
  hrms/hr/doctype/expense_claim/expense_claim.py
Labels: backport version-15-hotfix

#2486 feat: toggle self leave approval for employees from HR settings
  hrms/hr/doctype/hr_settings/hr_settings.json
  hrms/hr/doctype/leave_application/leave_application.js
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/hr/doctype/leave_application/test_leave_application.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#2736 chore: Upgrade artifact actions from v3 to v4
  .github/workflows/ci.yml
Labels: backport version-14-hotfix, backport version-15-hotfix
