Repository frappe/hrms, pull requests merged in 2025-07, with the labels that each got.

#3292 fix: make labels in error message translatable
  hrms/hr/doctype/shift_type/shift_type.py
  hrms/hr/utils.py
Labels: needs-tests, backport version-15-hotfix

#3317 fix: Employee advance allocated total as per sanctioned amount in Expense Claim
  hrms/hr/doctype/expense_claim/expense_claim.js
Labels: backport version-15-hotfix

#3325 refactor: use get_single_value to get value from single doctypes
  hrms/hr/doctype/exit_interview/exit_questionnaire_notification_template.html
  hrms/hr/doctype/leave_application/leave_application.py
  hrms/overrides/employee_master.py
Labels: needs-tests

#3316 fix: add missing translation function
  hrms/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.py
Labels: needs-tests, backport version-15-hotfix

#3327 fix: only fetch data if field grouped by fields are permitted
  hrms/hr/dashboard_chart_source/hiring_vs_attrition_count/hiring_vs_attrition_count.py
Labels: needs-tests, backport version-14-hotfix, backport version-15-hotfix

#3359 fix: compensatory leave request for half days
  hrms/hr/doctype/compensatory_leave_request/compensatory_leave_request.py
  hrms/hr/doctype/compensatory_leave_request/test_compensatory_leave_request.py
Labels: backport version-15-hotfix

#3338 chore: avoid setting salary slip naming series via class method
  hrms/payroll/doctype/salary_slip/salary_slip.json
  hrms/payroll/doctype/salary_slip/salary_slip.py
Labels: needs-tests

#3392 fix: currency fields formatting to NaN
  frontend/src/components/SalarySlipItem.vue
  frontend/src/views/salary_slip/Dashboard.vue
Labels: backport version-15-hotfix

#3395 fix: refetch attendance calender events on update
  hrms/hr/doctype/attendance/attendance.py
Labels: backport version-15-hotfix

#3402 fix: better half day status in attendance sheet
  hrms/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.js
  hrms/hr/report/monthly_attendance_sheet/monthly_attendance_sheet.py
Labels: backport version-15-hotfix

#3409 fix: warn for allocated earned leaves while changing max leaves allowed
  hrms/hr/doctype/leave_type/leave_type.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#3416 fix: show remaining amount of approved state in case of sanction amou…
  frontend/src/components/ExpenseClaimSummary.vue
  hrms/api/__init__.py
Labels: needs-tests
